<h1>Common Issues</h1>

<h2>Tree not rendered</h2>
<p>Case: when tree is hidden (for example inside tab or modal), it is not rendered when it becomes visible.</p>
<p>Solution: after it becomes visible (preferably using <code>setTimeout</code>) - call <code>tree.sizeChanged()</code>, which recalculates the rendered nodes according to the actual viewport size.</p>

<h2>Tree state (expanded / selected nodes) gets lost</h2>
<p>Maybe you are not supplying unique IDs to the nodes.</p>
<p>The tree maintains its state by using IDs, and if you don't supply ones the tree will generate random ones automatically. Which means that if you update the data - the state will be lost.</p>

<h2>Scroll Into View doesn't work</h2>
<p>See <code>scrollContainer</code> option in <a [routerLink]="['/', 'fundamentals', 'options']">Options</a> for more information.</p>
