#footer {
	background-color: #f5f7f8;
	padding: 60px 0;
}

.contact {
	@extend %listreset;

	text-align: center;
	margin-bottom: 18px;
	font-size: 14px;
	font-weight: 400;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 12px;
		position: relative;

		&:after {
			content: "|";
			position: absolute;
			right: -14px;
			top: 0;
		}

		&:last-child {
			&:after {
				content: none;
			}
		}
	}

	a {
		@include animate(color);

		color: $black;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;

		&:hover {
			color: $orange;
		}
	}
}

.social {
	@extend %listreset;

	text-align: center;

	li {
		display: inline-block;
		vertical-align: middle;
		margin-right: -3px;

		a {
			@include animate(color border-color);

			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
			width: 60px;
			height: 60px;
			border: 1px solid #c7d1d3;
			color: #c7d1d3;
			margin: 0 5px;
			border-radius: 50%;
			position: relative;

			&:hover {
				color: $orange;
				border-color: $orange;
			}

			i {
				position: absolute;
				font-size: 31px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}