#header {
	padding: 30px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;

	.container {
		display: flex;
		align-items: center;
	}
}

.navigation {
	width: calc(100% - 178px);
}

.logo {
	width: 178px;
}

.menu {
	@extend %listreset;

	text-align: right;

	li {
		display: inline-block;
		vertical-align: middle;
		margin: 0 18px;

		&:last-child {
			margin-right: 0;
		}

		a {
			@include animate(color);

			font-weight: 500;
			font-size: 16px;
			text-decoration: none;
			text-transform: uppercase;
			color: $black;

			&:hover {
				color: $orange;
			}
		}
	}
}