<h1>Checkboxes</h1>

<p>You can specify useCheckboxes option to show checkboxes, and the tree selection APIs to control and access which node is currently selected.</p>

<h2>Demo</h2>
<p><a href="https://github.com/CirclonGroup/angular-tree-component/blob/master/projects/docs-app/src/app/guides/checkboxes-guide/checkboxes/checkboxes.component.ts" target="_blank">Source Code</a></p>
<div class="demo-container">
  <app-checkboxes></app-checkboxes>
</div>

<p>By default, parent nodes reflect and control the status of children.</p>
<p>If you wish to override this behaviour, specify <code>useTriState: false</code> in the options.</p>
