#wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.btn {
	@include animate(background-color);

	background-color: $btn-background;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	padding: $btn-padding;
	color: $btn-color;
	box-shadow: 0 20px 40px rgba($btn-background, .33);

	&:hover {
		background-color: darken($btn-background, 7%);
	}
}

.btn-blue {
	@include animate(background-color);

	background-color: $light-blue;
	box-shadow: 0 20px 40px rgba($light-blue, .33);

	&:hover {
		background-color: darken($light-blue, 7%);
	}
}

.welcome {
	position: relative;
	min-height: 611px;
	background-image: linear-gradient(180deg, #fbfcfc 0%, #f5f7f8 100%);
	padding-top: 140px;
	
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: url(../images/img-01.png);
		height: 99px;
		background-position: 75px 0;
	}
	
	&:before {
		content: '';
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
		background: url(../images/img-03.png);
		background-position: 1850px 100%;
		background-repeat: repeat-x;
		height: 420px;
	}
	
	.container {
		position: relative;
	}
	
	.img-block {
		position: absolute;
		bottom: -130px;
		right: 0;
	}
	
	.services {
		@extend %listreset;

		font-weight: 200;
		margin-bottom: 34px;
		font-size: 36px;
		line-height: 1.66666;
		max-width: 450px;

		li {
			position: relative;
			padding-left: 60px;

			i {
				position: absolute;
				left: 0;
				top: 15px;
				min-width: 36px;
				text-align: center;
				color: $light-blue;
			}
		}
	}

	.question {
		display: inline-block;
		vertical-align: middle;
		font-weight: 500;
		margin-bottom: 30px;
		position: relative;
		line-height: 1.77777;

		strong {
			font-weight: 500;
		}

		.open {
			@include animate(background-color);

			background-color: $light-blue;
			color: $btn-color;
			text-decoration: none;
			font-weight: 700; 
			display: inline-block;
			vertical-align: middle;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			text-align: center;
			line-height: 24px;
			margin-left: 7px;

			&:hover {
				background-color: darken($light-blue, 7%);
			}
		}

		.popup {
			display: none;
			position: absolute;
			left: 180px;
			top: 45px;
			background-color: $white;
			box-shadow: 0 20px 40px rgba($black, .03);
			padding: 30px;
			min-width: 390px;
			z-index: 1;
			font-weight: 400;
			line-height: 1.44444;
			border-radius: 3px;

			&:before {
				content: '';
				position: absolute;
				left: 28px;
				border: 14px solid transparent;
				top: -26px;
				border-bottom: 15px solid $white;
			}

			h3 {
				font-weight: 500;
				margin-bottom: 28px;
			}

			p {
				margin-bottom: 30px;
			}

			ul:not([class]):not([id]) {
				@extend %listreset;

				margin-bottom: 30px;

				li {
					position: relative;
					margin-left: 36px;
					margin-bottom: 10px;

					&:before {
						font-family: 'icomoon' !important;
						content: "\ea10";
						position: absolute;
						left: -36px;
						color: $orange;
					}
				}
			}

			.btn {
				display: block;
				text-align: center;
			}
		}
	}

	.btn-holder {
		.btn {
			margin-right: 10px;
		}

		.popup {
			display: none;
			background-color: rgba($black, .2);
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 10;
		}
	}
}

.examples {
	padding: 72px 0 50px;

	h1 {
		font-weight: 200;
		text-align: center;
		position: relative;
		line-height: 1.66666;
		margin-bottom: 100px;

		&:before {
			content: "";
			position: absolute;
			left: 50%;
			top: -5px;
			transform: translateX(-50%);
			width: 60px;
			height: 5px;
			border-radius: 3px;
			background-color: $orange;
		}
	}

	ol:not([class]):not([id]) {
		@extend %listreset;

		counter-reset:li;
		font-weight: 200;
		margin: 0 -15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		li {
			position: relative;
			padding: 57px 15px 0;
			margin-bottom: 70px;
			width: 33.332%;
			box-shadow: 0px 20px 40px -15px rgba($black, .02);

			&:before {
				content: counter(li);
				counter-increment:li;
				position: absolute;
				width: 80px;
				height: 80px;
				color: $white;
				background: $light-blue;
				text-align: center;
				border-radius: 50%;
				left: 50%;
				top: -40px;
				transform: translateX(-50%);
				font-size: 36px;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.box {
				text-align: center;
				box-shadow: 0 20px 40px rgba($black, .03);
				padding: 0 15px 30px;
			}

			h3 {
				font-weight: 200;
				margin-bottom: 30px;
			}
		}
	}
}

.accordion-holder {
	position: fixed;
	overflow: hidden;
	top: 60px;
	min-width: 500px;
	background-color: $white;
	left: 50%;
	transform: translateX(-50%);
	padding: 30px 30px 15px;
	box-shadow: 0 20px 40px rgba($black, .03);
	border-radius: 3px;

	h3 {
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 30px;
		font-weight: 500;
	}

	.close {
		display: inline-block;
		vertical-align: middle;
		float: right;
		position: relative;
		width: 25px;
		height: 25px;

		&:before,
		&:after {
			@include animate(background-color);

			content: "";
			position: absolute;
			width: 30px;
			height: 4px;
			background-color: #dfe8e9;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&:hover {
			&:before,
			&:after {
				background-color: $black;
			}
		}
	}
}

.accordion {
	@extend %listreset;

	max-width: 450px;
	line-height: 1.44444;

	li {
		padding-bottom: 13px;

		&:last-child {
			margin-bottom: 0;
		}

		&.active {
			.opener {
				span {
					&:after {
						transform: translate(-50%, -50%) rotate(180deg);
					}
				}
			}
		}
	}

	.opener {
		color: $black;
		line-height: 1.44444;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;

		span {
			margin-right: 15px;
			display: inline-block;
			vertical-align: middle;
			width: 30px;
			height: 30px;
			border-radius: 3px;
			background-color: $orange;
			position: relative;

			&:before,
			&:after {
				@include animate(transform);

				position: absolute;
				content: "";
				width: 16px;
				height: 4px;
				border-radius: 1px;
				background-color: $white;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			&:after {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
	}

	.slide {
		max-width: 440px;
		padding: 13px 0 0 45px;
		color: #9ba8ab;

		p {
			margin-bottom: 10px;
		}
	}
}