<h1>Tree with create, copy and delete options</h1>

<h2>Working tree</h2>
<p><a href="https://github.com/CirclonGroup/angular-tree-component/blob/master/projects/docs-app/src/app/examples/crud-example/crud/crud.component.ts" target="_blank">Source Code</a></p>
<div class="demo-container">
  <app-crud></app-crud>
</div>

<h2>How to implement</h2>

<p>
  This example is based on <a href="https://github.com/CirclonGroup/angular-tree-component/issues/813" target='_blank'>Issue 813</a>.
  It relies on the <code>treeNodeTemplate</code> to customize the display of each node.
  The example uses simple buttons to handle basic functions for creating, copying and deleting nodes.
</p>
<p>
  The example does not show a edit function because of the endless possibilities on how to implement this.
  One option could be to show an input field instead of the <code>span</code> with the name of the node.
  This could be triggered via button, double click or how your app enters edit mode.
</p>
